/* By Dominik Biedebach @domobch */
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(32, 30, 30);
  }
  small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 50px;
  }
  
  .center {
    text-align: center;
  }
  section {
    height: 30vh;
  }
  nav {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  nav.menu ul li a {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  nav.menu ul li a:hover {
    color: #fff;
  }
  nav.menu ul li a:before,
  nav.menu ul li a:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: black;
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
  }
  nav.menu ul li a:before {
    left: 0;
  }
  nav.menu ul li a:after {
    right: 0;
  }
  
  nav.menu ul li a:hover:after,
  nav.menu ul li a:hover:before {
    width: 100%;
  }

ul, li{
  color: rgb(83, 40, 226);
  font-size: xx-large;
  text-shadow: 2px 2px 3px grey;
  text-align: justify;
  line-height: 2em;
  letter-spacing: 2px;
}
#szolgh1{
  font-size: 70px;
  color: rgb(83, 40, 226);
  font-style: italic;
}
#grafikon{
  float: right;
  border-radius: 10%;
  box-shadow: 5px 5px 10px black;
  margin-right: 5%;
  margin-bottom: 5%;
  border: 3px solid rgb(83, 40, 226);
}
  img:nth-child(1){
      float: left;
      border-radius: 10%;
  }
  p:nth-child(1){
    margin-left: 18vh;
    margin-top: 18vh;
  }
  h3{
    text-align: center;
    color: rgb(211, 206, 206);  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    
  }
  #szoveg{
      text-align: justify;
      letter-spacing: 1px;
    color: rgb(211, 206, 206);
    padding-left:750px;
    padding-right: 100px;
    line-height: 1.5;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  
  
